.home {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .order {
    display: flex;
    flex-direction: column;
  }
}

.rdrDateDisplayWrapper {
  display: none;
}

/* Hide the month portion */
.rdrMonthPicker {
  display: none;
}

/* Ensure the year picker is still visible */
.rdrYearPicker {
  display: block;
}

.rdrMonthAndYearPickers select {
  pointer-events: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  outline: 0;
  color: #276ebc;
  font-family: "archivo";
  font-size: 1.3rem;
  font-weight: 500;
  background: none;
}

.rdrMonthAndYearPickers select:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

.rdrNextPrevButton {
  background: #ffffff;
}

.rdrNextPrevButton:hover {
  background: #999a9c;
}

.rdrMonthName {
  color: #ffffff !important;
}

.rdrNextButton i {
  margin: 0 0 0 10px;
  border-width: 6px 6px 6px 10px;
  border-color: transparent transparent transparent #276ebc;
  transform: translate(5px, 0px);
}

.rdrPprevButton i {
  border-width: 6px 10px 6px 6px;
  border-color: transparent #276ebc transparent transparent;
  transform: translate(-5px, 0px);
}

.rdrMonthName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
  padding: 0 20px;
  background-color: #276ebc;
  height: 38px;
  border-radius: 6.2px;
  width: fit-content;
  margin: auto;
}

.rc-slider-track {
  background-color: #276ebc;
}

@media screen and (max-width: 960px) {
  .home {
    .order {
      > div {
        &:nth-child(1) {
          order: 2; /* TrendingOffers */
        }
        &:nth-child(2) {
          order: 1; /* StepsToBid */
        }
      }
    }
  }
}
